1. how many missing values are there for each variable in the dataset.
    - None
2. What is the sample size of the dataset.
    - 200
3. how many variables are there in the dataset ?
    - 11
4. how many variables has dtype int and float ?
    - int : 11
    - float: 0
5. which variable has the smallest std ?
    - schtyp
6. which variable has the highest value of mean ?
    - id
7. What is qtile 1 for the read variable ?
    - 44
8. whar is qtile 2 for teh write variable ?
    - 54
9. what is qtile 3 for the science variable ?
    - 58
10. which variable has the lowest and the highest range ?
    - id
11. calc. the intercotile range for the following : read, write, science, maths, Socst
    - read : 
    - write : 
    - science : 
    - maths : 
    - socst : 
q3-q1

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('hsb2.csv')

In [5]:
df.describe()

,id,Gender,race,ses,schtyp,prog,read,write,math,science,socst
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,52.645000,51.850000,52.405000
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,9.368448,9.900891,10.735793
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,33.000000,26.000000,26.000000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,45.000000,44.000000,46.000000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,52.000000,53.000000,52.000000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,59.000000,58.000000,61.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,75.000000,74.000000,71.000000