## Basics of Statistics 

There are two type of values : 
1. discrete
2. continuous

### Data Types in Python
1. Integer : Indicates Discrete 
2. Float : Indicates continuous
3. date and time: mm_dd_yyyy
4. object: referance of string

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

| column    | type          | scale                 |
|-----------|---------------|-----------------------|
| age       | numeric       | ratio                 |
| sex       | categorical   | nominal               |
| bmi       | numerical     | ratio                 |
| children  | numerical     | ratio                 |
| smoker    | categorical   | nominal               |
| region    | categorical   | nominal               |
| expenses  | numeric       | ratio                 |

**df.head(default=5)** : it show the first 5 rows by default.

In [3]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

**df.tail(default=5)** : it show the last 5 rows by default.

In [4]:
df.tail()

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

**df.info()** : this cammand will give you all the info. regarding the variables 


a **dataframe** in the python is the combination of rows and columns.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

**df.describe()** : this function shows discribtive stat. for the variable in the object. 

- the describe function will give you discriptive stats. for all the numerical variables in the dataset.

| DataFrame Type   | description                               |
|-------|-------------------------------------------|
|DataFrame.count| Count number of non-NA/null observations.
|DataFrame.max| Maximum of the values in the object.|
|DataFrame.min| Minimum of the values in the object.|
|DataFrame.mean| Mean of the values.|
|DataFrame.std| Standard deviation of the observations.|
|DataFrame.select_dtypes| Subset of a DataFrame including/excluding columns based on their dtype. |
| 25% | lower 25 percentile | 
| 50% | lower 50 percentile | 
| 75% | uppen 25 percentile |

In [6]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [7]:
# to remove the output restrictions 
pd.set_option('display.max_rows', None)

In [8]:
# for frequency table 
pd.crosstab(df['bmi'], 'count')

col_0  count
bmi
16.0       1
16.8       2
17.2       1
17.3       3
17.4       2
17.5       1
17.7       1
17.8       2
17.9       1
18.0       1
18.1       1
18.3       4
18.5       1
18.6       1
18.7       1
18.9       1
19.0       1
19.1       1
19.2       1
19.3       1
19.5       1
19.6       1
19.8       3
19.9       2
20.0       8
20.1       2
20.2       4
20.3       1
20.4       3
20.5       2
20.6       3
20.7       1
20.8       3
20.9       2
21.0       1
21.1       2
21.3       2
21.4       4
21.5       4
21.6       2
21.7       4
21.8       7
21.9       6
22.0       2
22.1       5
22.2       3
22.3       2
22.4       3
22.5       5
22.6       6
22.7       3
22.8       3
22.9       5
23.0       4
23.1       3
23.2      11
23.3       3
23.4       5
23.5       3
23.6       4
23.7       8
23.8       8
23.9       3
24.0       6
24.1       7
24.2       3
24.3      12
24.4       5
24.5       4
24.6       8
24.7       4
24.8       5
24.9       3
25.0       5
25.1       6
25.2       7
25.3       8
25.4       5
25.5       8
25.6       7
25.7      10
25.8      12
25.9       7
26.0       5
26.1       5
26.2       7
26.3       6
26.4      10
26.5       3
26.6       8
26.7       9
26.8       6
26.9       5
27.0       4
27.1       6
27.2       4
27.3       6
27.4       9
27.5       8
27.6      17
27.7      13
27.8      10
27.9       8
28.0       8
28.1       9
28.2       6
28.3      13
28.4       5
28.5       6
28.6       9
28.7       8
28.8       7
28.9      16
29.0       8
29.1       3
29.2       4
29.3       6
29.4       5
29.5       6
29.6      11
29.7       9
29.8      14
29.9      12
30.0       9
30.1      10
30.2      10
30.3       7
30.4       6
30.5      12
30.6       7
30.7       5
30.8      13
30.9      11
31.0       6
31.1       9
31.2       6
31.3       4
31.4      13
31.5       6
31.6       7
31.7       8
31.8      10
31.9       8
32.0       5
32.1       9
32.2       7
32.3      15
32.4       6
32.5       4
32.6       5
32.7       8
32.8      11
32.9       4
33.0      10
33.1       9
33.2       6
33.3      17
33.4       7
33.5       4
33.6       7
33.7      10
33.8       7
33.9       7
34.0       3
34.1      12
34.2       9
34.3       5
34.4      10
34.5       3
34.6       4
34.7       3
34.8      10
34.9       4
35.0       3
35.1       2
35.2      10
35.3       6
35.4       3
35.5       7
35.6       6
35.7       3
35.8       9
35.9       7
36.0       7
36.1       7
36.2       6
36.3       5
36.4       3
36.5       4
36.6       6
36.7       5
36.8       3
36.9       8
37.0       7
37.1      13
37.2       2
37.3       7
37.4       6
37.5       3
37.6       2
37.7       4
37.8       1
37.9       2
38.0       3
38.1      10
38.2       4
38.3       4
38.4       5
38.6       2
38.7       1
38.8       3
38.9       3
39.0       1
39.1       5
39.2       4
39.3       2
39.4       2
39.5       6
39.6       4
39.7       3
39.8       6
39.9       2
40.0       1
40.2       5
40.3       5
40.4       3
40.5       3
40.6       3
40.7       1
40.8       1
40.9       2
41.1       3
41.2       2
41.3       3
41.4       1
41.5       3
41.7       1
41.8       2
41.9       4
42.1       4
42.2       1
42.4       3
42.5       1
42.7       2
42.8       1
42.9       3
43.0       1
43.1       1
43.3       1
43.4       1
43.7       1
43.9       2
44.0       1
44.2       2
44.7       2
44.8       1
44.9       1
45.3       1
45.4       1
45.5       1
45.9       1
46.1       1
46.2       1
46.5       3
46.7       1
46.8       1
47.4       1
47.5       1
47.6       1
47.7       1
48.1       1
49.1       1
50.4       1
52.6       1
53.1       1

In [9]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [10]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [11]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64