## Concept of normality of a variable 

![Alt text](https://i0.wp.com/www.projectguru.in/wp-content/uploads/2020/03/1-19.jpg?w%3D544%26ssl%3D1)

**to check the noramality of the variable** :
  1. calc. mean and standard deviation 
  2. calc. 
      - x1 = (mean + sd) 
      - x2 = (mean - sd)
  3. to get the area of the curve b/w +-std genrate a freq. table for the 'BMI'
  4. count the no. of values b/w x1 and x2 / no. of rows
      - criteria 1 : >= 0.683
      - criteria 2 : >= 0.955
      - criteria 3 : >= 0.997

In [ ]:
import pandas as pd

1. how many missing values are there for each variable in the dataset.
    - None
2. What is the sample size of the dataset.
    - 200
3. how many variables are there in the dataset ?
    - 11
4. how many variables has dtype int and float ?
    - int : 11
    - float: 0
5. which variable has the smallest std ?
    - schtyp
6. which variable has the highest value of mean ?
    - id
7. What is qtile 1 for the read variable ?
    - 44
8. whar is qtile 2 for teh write variable ?
    - 54
9. what is qtile 3 for the science variable ?
    - 58
10. which variable has the lowest and the highest range ?
    - id
11. calc. the intercotile range (q3-q1) for the following : read, write, science, maths, Socst
    - read : 32
    - write : 15
    - science : 32
    - maths : 26
    - socst : 35

In [ ]:
df = pd.read_csv('hsb2.csv')

In [ ]:
df.describe()

,id,Gender,race,ses,schtyp,prog,read,write,math,science,socst
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,52.645000,51.850000,52.405000
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,9.368448,9.900891,10.735793
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,33.000000,26.000000,26.000000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,45.000000,44.000000,46.000000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,52.000000,53.000000,52.000000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,59.000000,58.000000,61.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,75.000000,74.000000,71.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   Gender   200 non-null    int64
 2   race     200 non-null    int64
 3   ses      200 non-null    int64
 4   schtyp   200 non-null    int64
 5   prog     200 non-null    int64
 6   read     200 non-null    int64
 7   write    200 non-null    int64
 8   math     200 non-null    int64
 9   science  200 non-null    int64
 10  socst    200 non-null    int64
dtypes: int64(11)
memory usage: 17.3 KB

In [ ]:
df.read.value_counts()

47    27
50    18
63    16
57    14
52    14
44    13
42    13
55    13
68    11
60     9
65     9
39     8
34     6
73     5
36     3
37     2
41     2
43     2
71     2
45     2
76     2
31     1
48     1
53     1
35     1
54     1
61     1
46     1
28     1
66     1
Name: read, dtype: int64

In [ ]:
#to check the area of the variable 'read' 

m = df.read.mean()
sd = df.read.std()
x1 = m + sd 
x2 = m - sd 
print(x1, x2, m, sd)
count = 0
count_all = df['read'].value_counts()
count = count_all[(count_all.index > x2) & (count_all.index < x1)].sum()
print(count)

62.48293682648241 41.977063173517585 52.23 10.25293682648241
130

In [ ]:
#to check the area of the variable 'write'

m = df.write.mean()
sd = df.write.std()
x1 = m + sd 
x2 = m - sd 
print(x1, x2, m, sd)
count = 0
count_all = df['write'].value_counts()
count = count_all[(count_all.index > x2) & (count_all.index < x1)].sum()
print(count)
df.ndim
print('area', count/len(df))

62.253586021386525 43.29641397861347 52.775 9.47858602138653
136
area 0.68

In [ ]:
#to check the area of the variable 'science'

m = df.science.mean()
sd = df.science.std()
x1 = m + sd 
x2 = m - sd 
print(x1, x2, m, sd)
count = 0
count_all = df['science'].value_counts()
count = count_all[(count_all.index > x2) & (count_all.index < x1)].sum()
print(count)
df.ndim
print('area', count/len(df))

61.75089077765 41.94910922235 51.85 9.900890777649998
136
area 0.68

In [ ]:
#to check the area of the variable 'math'

m = df.math.mean()
sd = df.math.std()
x1 = m + sd 
x2 = m - sd 
print(x1, x2, m, sd)
count = 0
count_all = df['math'].value_counts()
count = count_all[(count_all.index > x2) & (count_all.index < x1)].sum()
print(count)
df.ndim
print('area', count/len(df))

62.0134477940773 43.276552205922705 52.645 9.368447794077296
125
area 0.625

In [ ]:
check the normality for  associativity

In [ ]:
#to check the area of the variable 'socst'

m = df.socst.mean()
sd = df.socst.std()
x1 = m + sd 
x2 = m - sd 
print(x1, x2, m, sd)
count = 0
count_all = df['socst'].value_counts()
count = count_all[(count_all.index > x2) & (count_all.index < x1)].sum()
print(count)
df.ndim
print('area', count/len(df))

63.1407934642267 41.669206535773306 52.405 10.735793464226697
126
area 0.63

In [ ]:
df['read'].value_counts()

47    27
50    18
63    16
57    14
52    14
44    13
42    13
55    13
68    11
60     9
65     9
39     8
34     6
73     5
36     3
37     2
41     2
43     2
71     2
45     2
76     2
31     1
48     1
53     1
35     1
54     1
61     1
46     1
28     1
66     1
Name: read, dtype: int64